<footer
  class="footer d-flex flex-wrap justify-content-between align-items-center py-4 px-2 border-top"
>
  <p class="col-md-4 mb-0 text-muted">
    © {{ today | date : "yyyy" }}, Made by
    <a
      class="link-dark text-decoration-none"
      href="https://github.com/genaroadrian"
      >genaroadrian</a
    >
  </p>

  <ul class="list-unstyled d-flex">
    <!-- <li class="ms-3">
      <a
        class="link-dark"
        target="_blank"
        href="https://www.facebook.com/genaroadrianmtz?mibextid=ZbWKwL"
        ><i class="bi bi-facebook"></i>
      </a>
    </li> -->
    <li class="ms-3">
      <a
        class="link-dark"
        target="_blank"
        href="https://github.com/genaroadrian"
        ><i class="bi bi-github"></i
      ></a>
    </li>
    <li class="ms-3">
      <a
        class="link-dark"
        target="_blank"
        href="www.linkedin.com/in/genaro-adrian-martinez-gonzalez"
        ><i class="bi bi-linkedin"></i
      ></a>
    </li>
  </ul>
</footer>
